:root {
    --color-primario: #1b1b24; /*Color de fondo*/
    --color-secundario: cyan; /*Color de la fuente*/
    --color-terciario: #AEC3B0; /*Color de el fondo del area principal*/
    --color-hover: #272727;
    --color-fuente-botones: #ffffff;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}


*{
    
    margin: 0;
    padding: 0;
    
}

body{
    box-sizing: border-box;
    background-color:  var(--color-primario);
}
.encabezado{
    padding: 2% 15% 0% 15%;
}
.encabezado__presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.encabezado__presentacion__logos img{
    height: 150px;    

}

.encabezado__presentacion__titulo{
    color: var(--color-terciario);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.principal h4{
    color: var(--color-secundario);
    font-size: larger;
    display: flex;
    justify-content: left;
    padding: 2% 0% 2% 17%;

}

.principal__area{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.area1{
    flex-direction: column;
    justify-content: left;
    margin: 1% 0% 4% 10%;

    /*height: 50%;*/
    
    
}
.principal__area__entrada{
   /*height: 150px;*/
   /*display: flex;
   flex-direction: column;
   justify-content: left;*/
   
   /*margin: 5% 0% 4% 20%;*/
   font-family: 'Margarine';
   border-width: 3;
   border-style: solid;
   border-color: #453745;
   border-radius: 8px;
   text-align: center;
   text-anchor: middle;
   font-size: 20px;
   padding: 7% 0% 0% 0%;

}
.advertencia{
    font-size: 15px;
    color: rgb(242, 46, 6);
    margin: 2% 0% 4% 8%;
}
.principal__area__area1__botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /*margin-left: 5%;*/
    height: 35px;
    
    
}

.area1__boton{
    background-color: rgb(19,38,92);
    height: 40px;
    width: 150px;
    font-family: 'Margarine';
    color: var(--color-fuente-botones);
    /*border-style: double;*/
    border-color: var(--color-terciario);
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}
#copiar{
    display: none;
}

.principal__area__salida{
    /*display: flex;
    flex-direction: column;
    justify-content: right;*/
    

    margin:1% 0% 4% 30%;
    font-family: 'Margarine';
    border-width: 3;
    border-style: solid;
    border-color: #453745;
    border-radius: 8px;
    text-align: center;
    text-anchor: middle;
    padding: 7% 0% 0% 0%;
   
    font-size: 20px;

}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items: center;
    margin-top: 2%;
}

footer p{
    font-family: 'Margarine';
    color: var(--color-terciario);
}

.enlaces a{
    display: inline-flex;
    margin-top: 20px;
    justify-content: center;
    width: 30px;
    height: 30px;
   
}


@media screen and (max-width:1024px){
    .encabezado{
        display: none;
    }
    .principal__area{
        display: flex;
        flex-direction: column; 
    }
    .area1{
        margin: 1% 0% 4% 1%;
    }
    .principal__area__salida{
        margin: 1% 0% 4% 1%;
    }
    .principal__area__area1__botones{
        justify-content:center;
    }
    .principal__area__area1__botones input{
        margin: 0% 2% 0% 0%;
    }
}

@media screen and (max-width:400px){
    /*.area1{
        margin: 1% 2% 4% 1%;
    }*/
    .principal__area__entrada{
        width: 100%;
        margin: 1% 2% 4% 0%;
        
    }
    .advertencia{
        font-size: 8px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .principal__area__salida{
        width: 100%;
        margin: 5% 1% 4% 0%;
    }
    .principal__area__area1__botones {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-left: 5%; */
        /* height: 35px; */
        align-items: center;
        margin: 10% 0% 10% 5%
    }
    .principal__area__area1__botones input{
        margin-top: 5%;
    }

  
    footer p{
        
        display: flex;
        justify-content: center;
        margin-inline-start: 15px;
        font-size: 12px;
        width: 100%;
    }

    footer enlaces{
        display: flex;
        margin-inline-start: 75px;
    }


}
